.App {
    font-style: italic;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.App input {
    /*--color: #eee;*/
    background: var(--color);
    border: 1px solid;
}

.App input:focus, .App button:focus {
    outline: 1px solid #888;
}

.App input[data-is-valid=true] {
    --color: #cfc;
}

.App input[data-is-valid=false] {
    --color: #fcc;
}
