.App {
    font-style: italic;
    font-family: Helvetica, sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    background: #eee;
}

.App input {
    background: var(--color);
    border: 1px solid;
}

.App input:focus, .App button:focus {
    outline: 1px solid #888;
}

.App input[data-is-valid=true] {
    --color: #cfc;
}

.App input[data-is-valid=false] {
    --color: #fcc;
}
